<!DOCTYPE html>
<html lang="en">
<head>
<title>FinAI - Loan Suitability</title>
<link rel="icon" href="coin1.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="signStyle.css">
</head>

<style>
h1 {
  text-align: center;
}
.content {
  text-align: left;
}
ul {
  display: table;
  margin: 0 auto;
}
.qualify {
  margin: auto;
  font-size: 20px;
  text-align: center;
  border-style: groove;
  border-radius: 25px;
  padding: 20px;
  width: 1000px;
  word-wrap: break-word
}
</style>
<style>
.header img {
  float: left;
  width: 50px;
  height: 50px;
  background: #000;
}

.header h1 {
  position: absolute;
  top: 5px;
  left: 5px;
}
</style>
<body>
<div class="navbar">
	<div class="header">
		  <img src="coin1.png" />
		  <a href="index.html" />
		  <h1>FinAI</h1>
	</div>
	<a id="btnlogout" href="index.html">Log-Out</a>
	<a href="clients.html">Clients</a>
	<a href="value.html">House Value</a>
	<a href="qualify.html">Credit Eligibility</a>
	<a href="ml-reports.html">ML-Report</a>
	<div class="dropdown">
		<button class="dropbtn">BI-Report
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="BIReportLoan.html">Loan</a>
			<a href="BIReportHouseValue.html">House</a>
		</div>
	</div>
</div>
<div class="content">
	<h1>Client Profile</h1>
	<% if(profile[0] == 1){ %>
	<%	   profile[0] = "male"; %>
	<% } else{ %>  
	<%	   profile[0] = "female" %>
	<% } %>	
	
	<% if(profile[1] == 1){ %>
	<%	   profile[1] = "married"; %>
	<% } else{ %>  
	<%	   profile[1] = "not married" %>
	<% } %>
	
	<% if(profile[2] == 1){ %>
	<%	   profile[2] = "graduate"; %>
	<% } else{ %>  
	<%	   profile[2] = "non-graduate" %>
	<% } %>
	
	<% if(profile[3] == 1){ %>
	<%	   profile[3] = "yes"; %>
	<% } else{ %>  
	<%	   profile[3] = "no" %>
	<% } %>
	
	<% if(profile[8] == 1){ %>
	<%	   profile[8] = "yes"; %>
	<% } else{ %>  
	<%	   profile[8] = "no" %>
	<% } %>
	
	<% if(profile[9] == 1){ %>
	<%	   profile[9] = "rural"; %>
	<% } %>	
	<% if(profile[9] == 2){ %>
	<%	   profile[9] = "semiurban"; %>
	<% } else{ %>  
	<%	   profile[9] = "urban" %>
	<% } %>
	<ul>
		<li>Gender:	<%-profile[0]%></li>
		<li>Marital Status: <%-profile[1]%></li>
		<li>Education: <%-profile[2]%></li>
		<li>Self Employed: <%-profile[3]%></li>
		<li>Applicant Income: <%-profile[4]%></li>
		<li>Co-applicant Income: <%-profile[5]%></li>
		<li>Loan Amount: <%-profile[6]%></li>
		<li>Loan Amount Term: <%-profile[7]%></li>
		<li>Credit History: <%-profile[8]%></li>
		<li>Propery Area: <%-profile[9]%></li>
		<li>No. of dependents: <%-profile[10]%></li>
    </ul>
	
	<br>
	<div class="qualify">
	<h2>Client profile has been analyzed and the FinAI Engine has determined that they 
			<% if(result){ %>
			   <span style="color: #008000"><u>qualify</u></span>
			 <% } else{ %>  
			   <span style="color: #ff0000"><u>do not qualify</u></span>
			<% } %>
		for this loan amount</h2>
	</div>
</div>
<div class="footer">
	<h1><i class="fa fa-road"></i> 1 Patrick Street</h1>
	<h1><i class="fa fa-phone"></i> (353)1111111</h1>
	<h1><i class="fa fa-envelope"></i> FINAI@mycit.ie</h1>
</div>
</body>
</html>
